<div class="col-md-5 col-md-offset-2 text-center" style="max-width: 500px;">
    <% @posts.each do |post| %>
    <table style="width: 100%;">
      <tr>
        <% if post.user.avatar.blank? %>
          <td style="padding: 0; width: 50px;"><%= image_tag 'default.jpg' %></td>
        <% else %>
          <td style="padding: 0; width: 50px;"><%= image_tag post.user.avatar %></td>
        <% end %>
        <td style="font-size: 14px; text-align: left; width: 300px;"><%= link_to "#{post.title}", post %></td>
        <td style="width: 70px;" id="post-<%= post.id %>">
          <%= render "likes/like", post: post %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: left; font-size: 10px; width: 300px;"><%= post.description %></td>
      </tr>
      
    </table>
    <hr style="margin: 10px;">
    <% end %>

</div>
