<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <% if @user.avatar? %>
            <td><%= image_tag @user.avatar.thumb.url %></td>
        <% end %>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%== post.content %></td>
        <td><%= link_to 'Show', post %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>




<% if @user %>
	<%= link_to "新規投稿", new_post_path %>
<% end %>
<p>Find me in app/views/static_pages/home.html.erb</p>
