<div class="container_form">
  <h2>アカウント編集</h2>

  <%= form_for @user do |f| %>

    
    <div class="field">
      <%= f.label :avatar %><br>
      <%= image_tag @user.avatar.url if @user.avatar? %><br>
      
      <%= f.file_field :avatar %>
      
      <%= f.hidden_field :avatar_cache %>
    </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => "form-control my-form" %>
    </div>

    <div class="field">
      <%= f.label :self_introduction %><br />
      <%= f.text_area :self_introduction, autocomplete: "self_introduction", :class => "form-control my-form" %>
    </div>
    
    <div class="actions">
      <%= f.submit "登録", :class => "btn btn-primary" %>
    </div>
  <% end %>

</div>