<div class="content" style="margin-top: 50px;padding:30px;">
	
	<div style="margin: 20px 10px 10px 10px;">
		<div>
		  	<div style="font-weight: bold; font-size: 20px;">
			  	<%= image_tag @post.user.avatar, width: '40px' %>
			  	<span style="margin-right: 10px;"></span>
			  	<span>
			  		<%= @post.user.name %>
			  	</span>
		 	</div>
		  
		  	<hr>
		 </div>
		
		<div style="font-weight: bold;font-size: 35px;">
		  	<%= @post.title %>
		</div>
		<div style="padding: 10px;">
			<%= @post.description %>
		</div>
		
		<hr>
		<div>
			<%== @post.content %>
			<%= link_to '編集', edit_post_path(@post) %>
		</div>
	</div>
	
</div>

<%= render partial:'comments/widget', locals:{post: @post,comment:@comment} %>
